* {
    box-sizing: border-box;
    }

html{
max-width: 100%;
font-family: 'Rajdhani', sans-serif;

}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    display:block;
}

h1{
font-size:40px;
font-weight:bold;
}

h2{
font-size: 30px;
font-weight:bold;
}

p{
letter-spacing: 1px;
font-weight: lighter;
}

.logo{
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    }

.whole-group{
    text-align: center;
    background: url('/Volumes/M HD/My Sites/Threadworks/images/threadworksgroup.png') no-repeat center;
    background-size: cover;
    overflow: hidden;
    color: white;
    height: 320px;
   
}

.blue-text{
display:inline-block;
background-color:#191569 ;
text-align: center;
color: white;
height:;
padding:10px;
overflow:none;

} 

.blue-text{
padding-bottom: 50px;

}

.blue-text p{
font-weight: normal;

}

.group-text-large{
    padding-top: 75px;
    font-size: 40px;
    font-weight: 1000;
    padding-left: 10px;
    padding-right: 10px;
}

.group-text-small{
    padding-top: 20px;
    font-size: 21px;
    font-weight:2;
    padding-left: 40px;
    padding-right: 40px;
}

.fill-form{
display: block;
font-size:20px;
margin-left:5%;
margin-right:5%;
}

.contact-info{
text-align: center;

}
footer{
background: #2C2C2C;
color: white;
padding: 5px;
display: block;
}

.fill-form label{
text-align: center;
}

.leave-message {
    padding-top:55px;

}

.box{
text-align: center;
width: 100%;
padding-top:15px;
margin-bottom: 10px;
background: transparent;
border-radius:40px;
border-width:1px;
margin-top:7px;
}

.submit{
color: white;
background: #DB2676;
padding-bottom: 15px;
border-radius:40px;
border: 0;
font-size:15px;
}


a {
text-decoration: none;
color: white;
font-weight: normal;
}

.bolder{
    font-weight: bold;

}
.social-buttons{
display: block;
}

.social-links img{
display:inline-block;
width: 30px;
height: 30px;
background-size: 45px 45px;


}

ul{
list-style: none;

}


@media screen and (min-width: 650px) {
    
  }