* {
    box-sizing: border-box;
    }

html{
max-width: 100%;
font-family: 'Rajdhani', sans-serif;
}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    display:block;
}

h1{
font-size:90px;
font-weight:bold;
padding-bottom: 15px;
}

h2{
font-size: 60px;
font-weight:bold;
padding-bottom: 15px;
}

p{
  font-size: 30px;
letter-spacing: 1px;
font-weight: lighter;
line-height: 1.5em;
padding-bottom: 15px;
}

.logo{
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    }

.whole-group{
    text-align: center;
    background: url('/images/threadworksgroup.png') no-repeat center;
    background-size: cover;
    overflow: hidden;
    color: white;
    height: 320px;
   
}

.blue-text{
display:inline-block;
background-color:#191569 ;
text-align: center;
color: white;
overflow:none;
padding: 45px;

} 

.blue-text{
padding-bottom: 70px;

}

.blue-text p{
font-weight: normal;

}

.group-text-large{
    padding-top: 75px;
    font-size: 40px;
    font-weight: 1000;
    padding-left: 10px;
    padding-right: 10px;
}

.group-text-small{
    padding-top: 20px;
    font-size: 21px;
    font-weight:2;
    padding-left: 40px;
    padding-right: 40px;
}

.fill-form{
display: block;
font-size:20px;
margin-left:5%;
margin-right:5%;
}

.contact-info{
text-align: center;

}
footer{
background: #2C2C2C;
color: white;
padding: 5px;
display: block;
clear: both;
}

.fill-form label{
text-align: center;
}

.leave-message {
    padding-top:55px;

}

.box{
text-align: center;
width: 100%;
padding-top:25px;
margin-bottom: 10px;
background: transparent;
border-radius:22.5px;
border-width:1px;
margin-top:7px;
}

.submit{
color: white;
background: #DB2676;
padding-bottom: 15px;
border-radius:22.5px;
border: 0;
font-size:15px;
}


a {
text-decoration: none;
color: white;
font-weight: normal;
}

.bolder{
    font-weight: bold;

}
.social-links{
  display: flex;
  justify-content: center;
  font-weight: normal;
  list-style-type: none;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

a.social{
display:inline-block;
width: 30px;
height: 30px;
background-size: 45px 45px;
}

li{
padding-right: 20px;
padding-left:20px;
}

ul{
list-style: none;
padding: 0;
}


@media screen and (min-width: 650px) {
    .message-area{
      float:right;
      max-width: 25%
    }
    .contact-info {
      float:left;
    }
  }

  @media screen and (max-width: 650px){

    h1{
      font-size:40px;
      font-weight:bold;
      padding-bottom: 8px;
      }
      
      h2{
      font-size: 30px;
      font-weight:bold;
      padding-bottom: 8px;
      }
      
      p{
        font-size: 15px;
      letter-spacing: 1px;
      font-weight: lighter;
      line-height: 1.5em;
      padding-bottom: 8px;
      }

      .blue-text{
        padding: 15px;

      }
     

  }
  .clearfix {
    clear: both;
  }